/* The side navigation menu */
.sidenav {
    height: 95%;
    /* 100% Full-height */
    width: 250px;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 30px;
    /* Place content 60px from the top */
    transition: 0.3s;
    margin: 20px;
    border-radius: 15px;
}

/* ใช้การแสดงผลแบบเฟดอเมื่อเปิด */
.sidenav.opened {
    display: block;
    animation: fadeIn 0.5s;
  }
  
  /* ใช้การเฟดเอ้าท์เมื่อปิด */
  .sidenav.closed {
    animation: fadeOut 0.5s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.5s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    right: 30px;
    font-size: 40px;
    padding: 0px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px 20px 0px 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.box {
    margin: 0px 20px 0px 280px;
}

.scale {
    font-size: 35px;
}

.scale-fontname {
    font-size: 12px;
}

body {
    font-family: 'Prompt', sans-serif;
}

.scale-icon-nav{
    font-size: 35px;
}

/* ซ่อนปุ่มเปิดเมื่อเริ่มต้น */
#openNavIcon {
    display: none;
  }
  
  /* เปลี่ยนการแสดงผลเมื่อปุ่มถูกคลิก */
  #openNavButton.nav-opened #closeNavIcon {
    display: none;
  }
  
  #openNavButton.nav-opened #openNavIcon {
    display: inline-block;
  }
  
  