*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.detailActivity{
    margin: 5px 40px 20px 40px;
    padding: 5px 10px 5px 10px;
}

.detailActivity p{
    height: 41px;
    width: 1200px;
    margin: 2px 20px 2px 20px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #adffd9;
    border-radius: 10px;
    overflow: hidden; /* ซ่อนข้อความที่เกินขอบเขต */
    text-overflow: ellipsis; /* แสดงเครื่องหมาย elipsis (...) เมื่อข้อความเกิน */
    cursor: pointer;
    transition: all 0.3s;
}

.detailActivity p:hover{
    border: 1px solid #fff;
    background-color: #22b671;
    color: #fff;
    transform: translateX(40px) scale(1.1);
}

.detailActivity h5{
    font-weight: bold;
    color: #22b671;
    font-size: 18px;
}

.detailSetting div p{
    font-weight: bold;
    color: #22b671;
    font-size: 18px;
}

.detailSetting div p span{
    font-weight: lighter;
    color: #000
}

.btn-setting{
    transition: all 0.3s;
}

.btn-setting:hover{
    font-weight: bolder;
    transform: translateX(10px);
}

.btn-setting:hover i{
    transform: translateY(-1px);
}

.btn-delete{
    transition: all 0.3s;
}
.btn-delete:hover{
    font-weight: bolder;
    transform: translateX(10px);
}
.btn-delete:hover i{
    transform: translateY(-1px);
}


.table thead tr th{
    background-color: rgb(255, 255, 255, 0.5);
    color: #22b671;
    font-size: 20px;
}

.table tbody tr td{
    border: 0px solid #000;
    background-color: rgb(255, 255, 255, 0.5);
}
.table tbody tr{
    transition: all 0.5s;
}

.table tbody tr:hover{
    background-color: #016b3a;
    transform: scale(1.03);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.active{
    background-color: #016b3a;
    transform: scale(1.03);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.table tbody tr:hover td{
    border: 0px solid #000;
    color: #fff;
}

.btn-viewlistround{
    transition: all 0.3s;
}

.btn-viewlistround:hover{
    font-weight: bold;
    animation: shake 0.5s;
}

.table tr td:nth-child(1){
    display: none;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }

.title_modal{
    font-weight: bold;
    font-size: 30px;
    width: 90%;
    text-align: center;
    padding: 0px 0px 0px 30px;
    color: #22b671;
}

@media (max-width: 1670px) {
    
    .detailActivity p{
        width: 1000;
    }
}

@media (max-width: 1630px) {
    
    .detailActivity p{
        width: 900;
    }
}
  
@media (max-width: 1440px) {
    
    .detailActivity p:hover{
        transform: translateX(60px) scale(1.1);
    }
}

@media (max-width: 1400px) {
    
    .detailActivity p{
        width: 700;
    }
    .detailActivity p:hover{
        transform: translateX(50px) scale(1.1);
    }
}

@media (max-width: 1300px) {
    
    .detailActivity p:hover{
        transform: translateX(50px) scale(1.1);
    }
}
@media (max-width: 1250px) {
    
    .detailActivity p:hover{
        transform: translateX(20px) scale(1.1);
    }
}
@media (max-width: 1220px) {
    
    .detailActivity p{
        width: 800;
    }
    .detailActivity p:hover{
        transform: translateX(70px) scale(1.1);
    }
}
@media (max-width: 1110px) {
    .detailActivity p{
        width: 700;
    }
    .detailActivity p:hover{
        transform: translateX(40px) scale(1.1);
    }
}
@media (max-width: 990px) {
    .detailActivity p{
        width: 600px;
    }

    .detailActivity p:hover{
        transform: translateX(10px) scale(1.1);
    }
}
@media (max-width: 840px) {
    .detailActivity p{
        width: 450px;
    }

    .detailActivity p:hover{
        transform: translateX(10px) scale(1.1);
    }
}
@media (max-width: 690px) {
    .detailActivity p{
        width: 350px;
    }

    .detailActivity p:hover{
        transform: translateX(10px) scale(1.1);
    }

    .table thead{
        display: none;
    }
    .table tbody tr td{
        border-bottom: 1px solid #aaaaaa;
        text-align: right;
        position: relative;
    }

    .table tr,
    .table td{
        display: block;
        width: 100%;
        
    }

    .table tr{
        margin-bottom: 1rem;
    }



    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        text-align: left;
        padding-left: 0.7rem;
    }

    .table tr td:nth-child(1){
        display: block;
        background-color: #252525;
        text-align: center;
        color: #fff;
    }


    .table tr:hover td:nth-child(1){
        background-color: #016b3a;
        font-weight: bold;
    }

    .table tr td:nth-child(4){
        display: none;
    }
    .table tr td:nth-child(2){
        display: none;
    }
}
@media (max-width: 573px) {

    .detailActivity{
        margin: 5px 10px 20px 10px;
    }

    .detailActivity p{
        width: auto;
        margin-left: 0;
    }

    .detailActivity h5{
        font-size: 14px;
    }

    .detailActivity p:hover{
        transform: translateX(10px) scale(1.1);
    }

    .edit-qr-code{
        width: 350px;
        height: 350px;
    }
}




