#Form1 {
    display: block;
}

#Form2 {
    display: none;
}

.enchagne-botton {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 100px;
    width: 100px;
    font-size: 55px;
    box-shadow:
        -10px -10px 15px rgba(255, 255, 255, 0.5),
        10px 10px 15px rgba(70, 70, 70, 0.12);
    border-radius: 50%;
    border: 10px;
    background: linear-gradient(to bottom, #22b671, #98ffcd);
    transition: all 0.4s;
    z-index: 1;
}

.enchagne-botton::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #07b162, #6affb7);
    box-shadow:
        -10px -10px 15px rgba(255, 255, 255, 0.5),
        10px 10px 15px rgba(70, 70, 70, 0.12),
        inset -10px -10px 15px rgba(255, 255, 255, 0.5),
        inset 10px 10px 15px rgba(70, 70, 70, 0.12);
    transition: all 0.5s;
    z-index: -1;
}

.enchagne-botton:hover::before {
    top: 0;
}

.enchagne-botton i {
    color: #ffffff;
    opacity: 1;
    transition: color 0.5s, transform 0.5s, opacity 0.2s;
}

.enchagne-botton:hover i {
    color: #202020;
    transform: rotate(360deg);
}

.enchagne-botton:hover:active i {
    opacity: 0;
}

.button-shortenURL {
    background-color: #22b671;
    border: 0;
    border-radius: 5px;
    padding: 11px;
    color: #ffffff;
    transition: all 0.4s;
}
.button-shortenURL:hover{
    background-color: #037c44;
    text-decoration: underline 2px;

}

.button-shortenURL i{
    transition: transform 0.3s ease-in-out;
}

.button-shortenURL:hover i {
    transform: rotate(90deg);
}

.paddin-form{
    padding-left: 225px;
    padding-right: 225px;
}

.backgroud-colour-Shortcode{
    background-color: #55ffad;
    padding: 2px 15px 2px 15px;
    border-radius: 5px;
    color: #ffffff;
}



.backgroud-colour-Longcode{
    color: #22b671;
}

.icon-linkcopy-card{
    color: #037c44;
    transition: all 0.3s;
}

.icon-linkcopy-card:hover{
    color: #202020;
}

.icon-linknewpage-card{
    color: #00bd61;
    transition: all 0.3s;
}

.icon-linknewpage-card:hover{
    color: #202020;
}