* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

.custom-input label{
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
}

.custom-input input{
    width: 100%;
    height: 110px;
    font-size: 50px;
    border-radius:  50px;
    
}


.custom-input input::placeholder{
    font-size: 30px;
    text-align: center;
}

.custom-btn{
    width: 300px;
    height: 100px;
    font-size: 40px;
    
    border-radius:  50px;
    transition: all 0.3s;
}

.custom-btn:hover{
    font-weight: bold;
    background-color: #22b671;
}

.costome-font-title{
    font-size: 60px;
}

.costome-font-activity{
    font-size:50px;
}

.current-time{
    font-size: 40px;
    color: #006635;
}

.costome-icon-clock{
    font-size: 50px;
    color: #006635;
}

.text-alert{
    color: red;
    font-size: 35px;
    font-weight: bold;
    margin-top: 5px;
}

.input-alert{
    border: 1px solid red;
}

.input-alert:focus {
    border-color: red;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25); 
  }

.input-alert-success{
    border: 1px solid #006635;
}

.input-alert-success:focus{
    border-color: #006635;
    box-shadow: 0 0 0 0.2rem rgba(21, 217, 89, 0.25); 
}