.activity-box{
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 90%;
  height: 90px;
  border-left-color: #22b671;
  border-left-width: 6px;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  box-shadow: 1px 1px 11px #b1b1b1;
  background-color: #ffffff;
}

.activity-box span{
  font-size: 15px;
  font-weight: bold;
  color: #22b671;
  transition: 0.5s;
}

.activity-box a{
  font-size: 18px;
  color: #202020;
  transition: 0.5s;
}

.activity-box::before{
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #22b671, #98ffcd);
  transition: left 0.5s;
}

.activity-box:hover::before{
  left: 0; 
}
.activity-box:active::before{
  background-color: #1fac6a; 
}

.activity-box:hover .content-activity-box {
  color: #fff; /* ปรับสีของเนื้อหาเมื่อ hover */
}


.activity-box:hover .content-activity-box span{
  animation: flashColor 1s infinite;
}

@keyframes flashColor {
  0% { color: #4affa7; }
  50% { color: #ffffff; }
  100% { color: #4affa7; }
}

.content-activity-box{
  z-index: 1;
}

.activity-box:hover .content-activity-box a{
  color: #fff;
}

.activity-box:active .content-activity-box a{
  color: #070707;
}


.button-trash-action-activity {
  background-color: #ffffff;
  color: rgb(163, 163, 163);
  font-size: 30px;
  width: 35px;
  height: 42px;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: 0.4s;
}

.activity-box:hover .button-trash-action-activity{
  background-color: #91ffca50;
  color: rgb(255, 55, 55);
}

.activity-box:hover .button-trash-action-activity:hover {
  background-color: rgb(109, 209, 109);
}

.activity-box:hover .button-trash-action-activity:active {
  background-color: #202020;
}

.button-edit-action-activity {
  background-color: #ffffff;
  color: rgb(163, 163, 163);
  font-size: 30px;
  width: 35px;
  height: 42px;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: 0.4s;
}

.activity-box:hover .button-edit-action-activity{
  background-color: #61fcb150;
  color: rgb(42, 81, 253);
}

.activity-box:hover .button-edit-action-activity:hover {
  background-color: rgb(109, 209, 109);
}

.activity-box:hover .button-edit-action-activity:active {
  background-color: #202020;
}

@media  (max-width:1440px){
  .button-trash-action-activity{
    font-size: 20px;
    width: 30px;
    height: 37px;
  }

  .button-edit-action-activity{
    font-size: 20px;
    width: 30px;
    height: 37px;
  }

  .activity-box span{
    font-size: 12px;
    font-weight: bold;
    color: #22b671;
    transition: 0.5s;
  }

  .activity-box a{
    font-size: 14px;
    color: #202020;
  }
}